:root {
  --text-gray-50: rgb(249, 250, 251);
  --text-gray-100: rgb(243, 244, 246);
  --text-gray-200: rgb(229, 231, 235);
  --text-gray-300: rgb(209, 213, 219);
  --text-gray-400: rgb(156, 163, 175);
  --text-gray-500: rgb(107, 114, 128);
  --text-gray-600: rgb(75, 85, 99);
  --text-gray-700: rgb(55, 65, 81);
  --text-gray-800: rgb(31, 41, 55);
  --text-gray-900: rgb(17, 24, 39);
  --text-gray-950: rgb(3, 7, 18);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
